@import 'base/varibles';
@import 'base/mixins';
@import 'base/animations';


* {
   font-family: 'Museo Sana Cyrl', sans-serif;
}

.container {
   max-width: 950px;
   margin: 0 auto; 
}
@import 'block/promo';
@import 'block/buttons';
@import 'block/header';
@import 'block/advantages';
@import 'block/consultation';
@import 'block/title';
@import 'block/forms';
@import 'block/slider';
@import 'block/catalog';
@import 'block/reviews';
@import 'block/footer';
@import 'block/modal';
@import 'block/scroll';
@import 'block/maps';

@import 'base/media';